:root {
  --cl-yellow: #ffb819;
  --cl-black: #000;

  --grid-columns: 48;
  --grid-columns-cookies: 33;
  --grid-side-margin: 8rem;

  --grid-column-gap: 0px;
  --scrollbar-width: 0px;
  --grid-max-width: 1523.5px;
  --grid-width-input: calc(
    100vw - var(--scrollbar-width) - var(--grid-side-margin) * 2
  );
  --grid-width: min(var(--grid-width-input), var(--grid-max-width));
  --grid-column-width: calc(var(--grid-width) / var(--grid-columns));
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Haas Grot Disp R Roman', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.03em;
}

h1,
h2,
p {
  margin: 0;
}

i {
  font-style: normal;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* loading */
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cl-yellow);
  transition: transform 500ms;
}

.loading.active {
  transform: translateX(-100%);
}

.spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.pulse-container {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--cl-black);
}

.pulse-bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}
.pulse-bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}

/* canvas section */
.canvas-wrap {
  position: relative;
  width: 100vw;
  height: 600vh;
}

.sticky-wrap {
  position: sticky;
  left: 0;
  top: 0;
  width: inherit;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

/* less land section */
.lessLand-wrap {
  position: relative;
  width: 100vw;
  height: 700vh;
}

.content-wrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-column-gap: var(--grid-column-gap);
  width: 100%;
  width: var(--grid-width, 100%);
  max-width: 1760px;
  height: 100%;
  padding-top: 7.5rem;
  padding-bottom: 8rem;
  box-sizing: border-box;

  z-index: 30;
}

.inner {
  grid-column: 4/-1;
}

.content-wrap h2 {
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: 0.02em;
  white-space: pre-line;
}

.content-wrap h2 span {
  font-weight: 400;
  font-size: 9rem;
  line-height: 0.95;
  letter-spacing: -0.02em;
  white-space: pre-line;
  margin-top: 3rem;
}

.content-wrap p {
  justify-self: end;
}

.sub-detail {
  position: absolute;
  bottom: 9rem;
  max-width: 400px;
}

.img-outWrap {
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.img-outWrap .img-innerWrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: left top;
}

.img-outWrap img {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}

picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.boxes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.box {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.box .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fffdfa;
}

.box.five,
.box.nine,
.box.one {
  right: 0;
  top: 0;
}

.box.six,
.box.two {
  top: -1px;
  right: 0;
}

.box.two {
  left: 50%;
}

.box.eigh,
.box.fou {
  left: 0;
  top: 0;
}

.box.five > .inner,
.box.nine > .inner,
.box.one > .inner {
  width: calc(50% - 1px);
  border-right: 1px solid #bbb;
  transform: translateX(-100%);
}

.box.six > .inner,
.box.two > .inner {
  height: 50%;
  border-bottom: 1px solid #bbb;
  transform: translateY(-100%);
}

.box.seven > .inner,
.box.three > .inner {
  width: calc(50% - 1px);
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  border-left: 1px solid #bbb;
  transform: translateX(100%);
}

.box.eight > .inner,
.box.four > .inner {
  height: calc(50% - 1px);
  top: auto;
  bottom: 0;
  border-top: 1px solid #bbb;
  transform: translateY(100%);
}

.box.odd {
  width: calc(50%);
  height: calc(100% + 1px);
}

.box.even {
  width: calc(100% + 1px);
  height: calc(50%);
}

.box.seven,
.box.three {
  left: 0px;
  bottom: -1px;
}

@media only screen and (min-width: 1200px) {
  html {
    min-height: 0;
    font-size: clamp(7.5px, 0.625vw, 11px);
  }
}

@media only screen and (min-width: 821px) and (max-width: 1199px) {
  html {
    font-size: clamp(7.5px, 0.7142857143vw, 20px);
  }

  body {
    font-size: 2rem;
  }

  .sub-detail {
    width: 300px;
  }
}

@media only screen and (max-width: 820px) {
  :root {
    --cursor-circle-width: 8.8rem;
    --cursor-circle-height: 7.6rem;
    --cursor-icon-width: 2.9rem;
    --cursor-icon-height: 3.2rem;
    --cursor-icon-offset: 0.3rem;
    --grid-columns: 16;
    --grid-columns-cookies: 16;
    --grid-side-margin: 0px;
  }

  html {
    min-height: 0;
    font-size: clamp(5px, 3.125vw, 13.5px);
  }

  body {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.02em;
  }

  .inner {
    grid-column: 2/-4;
  }

  .content-wrap h2 {
    font-size: 1.4rem;
    line-height: 1rem;
    letter-spacing: 0.02em;
  }

  .content-wrap h2 span {
    line-height: 0.95;
    font-size: 3.2rem;
  }

  .sub-detail {
    bottom: 3.5rem;
    width: calc(var(--grid-column-width) * 14);
    max-width: none;
  }

  .img-outWrap img {
    top: 0;
    transform: translateY(-5%);
  }

  .box.two {
    top: -25vh;
    height: calc(100% + 2px + 25vh);
  }

  .box.four > .inner {
    height: calc(75% - 1px);
  }

  .box.five {
    height: 25%;
  }
}
