:root {
  --cl-yellow: #ffb819;
  --cl-black: #000;

  --grid-columns: 48;
  --grid-columns-cookies: 33;
  --grid-side-margin: 8rem;

  --grid-column-gap: 0px;
  --scrollbar-width: 0px;
  --grid-max-width: 1523.5px;
  --grid-width-input: calc(100vw - var(--scrollbar-width) - var(--grid-side-margin) * 2);
  --grid-width: min(var(--grid-width-input), var(--grid-max-width));
  --grid-column-width: calc(var(--grid-width) / var(--grid-columns));
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.8rem;
  font-family: "Haas Grot Disp R Roman", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.03em;
}

h1,
h2,
p {
  margin: 0;
}

i {
  font-style: normal;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
}

a {
  display: block;
}

table {
  border-spacing: 0px;
  padding: 10px;
}

th {
  text-align: left;
  border: 1px solid #ddd;
}

td {
  width: 30%;
  text-align: left;
  padding: 5px;
  border: 1px solid #ddd;
}

.mobile_deeplink,
.ios_deeplink {
  display: none;
}

.isTouchDevice .mobile_deeplink {
  display: block;
}

.isTouchDevice .desktop_deeplink {
  display: none;
}

.isTouchDevice.isIosDevice .offer .mobile_deeplink {
  display: none;
}

.isTouchDevice.isIosDevice .offer .ios_deeplink {
  display: block;
}
