:root {
  --grid-columns: 16;
  --grid-columns-cookies: 16;
  --grid-column-gap: 0px;
  --grid-side-margin: 0px;
  --scrollbar-width: 0px;
  --grid-max-width: 1523.5px;
  --grid-width-input: calc(
    100vw - var(--scrollbar-width) - var(--grid-side-margin) * 2
  );
  --grid-width: min(var(--grid-width-input), var(--grid-max-width));
  --grid-column-width: calc(var(--grid-width) / var(--grid-columns));
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.8rem;

  /* height: 800vh; */

  font-family: 'Haas Grot Disp R Roman', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.03em;
}

h1,
h2,
p {
  margin: 0;
}

i {
  font-style: normal;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* canvas section */
.canvas-wrap {
  position: relative;
  width: 100vw;
  height: 300vh;

  background-color: rgb(28, 64, 28);
}

.sticky-wrap {
  position: sticky;
  left: 0;
  top: 0;
  width: inherit;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
}

/* less land section */
.lessLand-wrap {
  position: relative;
  width: 100vw;
  height: 700vh;
}

.content-wrap {
  margin-left: auto;
  margin-right: auto;
  padding-top: 7.5rem;
  padding-bottom: 8rem;
  width: var(--grid-width, 100%);
  max-width: 1760px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  box-sizing: border-box;
  z-index: 30;
}

.content-wrap h2 {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.2;
  letter-spacing: 0.02em;
  white-space: pre-line;
}

.content-wrap h2 span {
  font-weight: 400;
  font-size: 9rem;
  line-height: 0.95;
  letter-spacing: -0.02em;
  white-space: pre-line;
  margin-top: 3rem;
}

.content-wrap p {
  max-width: 395px;
  justify-self: end;
}

.img-outWrap {
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.img-outWrap .img-innerWrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: left top;
}

.img-outWrap img {
  width: 100vw;
}

picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.boxes {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.box {
  position: absolute;
  overflow: hidden;
  width: calc(100%);
  height: calc(100%);
}

.box .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fffdfa;
}

.box.two {
  left: 50%;
}

.box.five,
.box.nine,
.box.one {
  right: 0;
  top: 0;
}

.box.eigh,
.box.fou {
  left: 0;
  top: 0;
}

.box.six,
.box.two {
  top: -1px;
  right: 0;
}

.box.five > .inner,
.box.nine > .inner,
.box.one > .inner {
  width: calc(50% - 1px);
  border-right: 1px solid #bbb;
  transform: translateX(-100%);
}

.box.six > .inner,
.box.two > .inner {
  height: 50%;
  border-bottom: 1px solid #bbb;
  transform: translateY(-100%);
}

.box.seven > .inner,
.box.three > .inner {
  width: calc(50% - 1px);
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  border-left: 1px solid #bbb;
  transform: translateX(100%);
}

.box.eight > .inner,
.box.four > .inner {
  height: calc(50% - 1px);
  top: auto;
  bottom: 0;
  border-top: 1px solid #bbb;
  transform: translateY(100%);
}

.box.odd {
  width: calc(50%);
  height: calc(100% + 1px);
}

.box.even {
  width: calc(100% + 1px);
  height: calc(50%);
}

.box.seven,
.box.three {
  left: 0px;
  bottom: -1px;
}
